@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Regular"),local("GTWalsheimProRegular"),url(../fonts/GTWalsheimProRegular.woff2) format("woff2"),url(../fonts/GTWalsheimProRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
  
@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Bold"),local("GTWalsheimProBold"),url(../fonts/GTWalsheimProBold.woff2) format("woff2"),url(../fonts/GTWalsheimProBold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}
    
*{
    padding: 0;
    margin: 0;
}
body{
    /*font-family: 'Lato', sans-serif;*/
    font-family: GT Walsheim Pro;
    font-weight: normal;
    color: rgb(73,73,73);
}
.page-block{
    outline: none;
}
.outline-block{
    max-width: 34.8rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.175rem 1.0875rem;
}
.navbar-block{
    display: flex;
    margin-bottom: 2.5rem;
}

.navbar-block h3{
    font-size: 1rem;
    line-height: 1.45rem;
    margin-bottom: 0px;
    flex: 1 1 0%;
}

.navbar-block a{
    font-size: 1rem;
    line-height: 1.45rem;
    margin-left: 0.725rem;
}

a{
    color: inherit;
    text-decoration: none;
    border-bottom: 0.15em solid;
    border-bottom-color: rgb(73,73,73);
}

a:hover{
    border-bottom-color: rgb(244,185,95);
}
img{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.main-content-block{
    margin-bottom: 4.35rem;
}

.main-picture-block{
    margin-bottom: 2.9rem;
}

.main-picture-block img{
    margin-bottom: 0;
}

.main-content-block h3{
    font-size: 1.75rem;
    line-height: 1.35;
    mix-blend-mode: screen;
}

h3{
    margin-bottom: 1.45rem;
    line-height: 1.05;
    letter-spacing: -0.025em;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
}

h3 a{
    border-bottom: 0;
    text-decoration: none;
    color: inherit;
}

h4{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
}

.knockout-text{
    color: white;
    background-color: rgb(244,185,95);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6vw;
    text-align: center;
}

@media screen and (max-width: 840px){
    .knockout-text{
        font-size: 12vw;
    }
}